<section class="content">
	<div class="row text-center">
		<div class="HomepageHeader">
			<!-- <div class="video-overlay" style="background: rgba(0, 0, 0, 0.4);">&nbsp;</div> -->
			<video autoplay="autoplay" width="100%" height="auto" id="bgVideo" poster="//d585tldpucybw.cloudfront.net/sfimages/default-source/Homepage/hero-video-poster.jpg" loop="loop" __idm_id__="536577">
				<source type="video/webm" src="//d585tldpucybw.cloudfront.net/telerik-videos/homepage/video-header.webm">
					<source type="video/mp4" src="//d585tldpucybw.cloudfront.net/telerik-videos/homepage/video-header.mp4">
						<img alt="Develop Experiences" width="100%" height="auto" src="//d585tldpucybw.cloudfront.net/sfimages/default-source/labs/vid-home-fallback.jpg">
					</video>
					<div class="HomepageHeader-hgroup">
						<h1>Develop Experiences</h1>
						<h2>UI frameworks and app development tools that 1.7 million developers love</h2>
					</div>
					<a href="#" class="Link--goTo Link--goToScrollDown" data-gtm-event="call-to-action-clicks, www.telerik.com/, scroll-arrow"></a>
				</div>
			</div>
			<div class="row text-center">
				<div class="sf_cols Section">
				<div id="GeneralContent_C079_Col00" class="sf_colsIn container"><div class="hgroup2"><h2>Support by</h2>


					</div><div class="u-mt8 u-mb1 u-tac">

					<img id="GeneralContent_C156_ctl00_ctl00_imageItem" title="Our Customers" src="//d585tldpucybw.cloudfront.net/sfimages/default-source/labs/devcraft/logos.png?sfvrsn=6" alt="">


				</div><div class="sfContentBlock"><!-- NewRelic Monitoring {EE700E1F-81F2-4B6F-8602-DE529824DDC4} --> <!-- Pingdom Monitoring {0B89BE13-6F4A-4FD4-B31D-B904AEC2183C} -->


			</div></div>
		</div>
	</div>
</section>