<section class="content">
<!--     <div class="text-center">
        <div class="HomepageHeader">            
        	<video autoplay="autoplay" width="100%" height="auto" id="bgVideo" poster="//d585tldpucybw.cloudfront.net/sfimages/default-source/Homepage/hero-video-poster.jpg" loop="loop" __idm_id__="536577">
        		<source type="video/webm" src="//d585tldpucybw.cloudfront.net/telerik-videos/homepage/video-header.webm">
        			<source type="video/mp4" src="//d585tldpucybw.cloudfront.net/telerik-videos/homepage/video-header.mp4">
        			</video>
            <div class="HomepageHeader-hgroup">
                <h1> <strong>Connect on a global scale</strong></h1>
                <h2>Build, grow and monetize your apps</h2>
            </div>

        </div>
    </div> -->
    <div class="text-center">
        <div class="col-md">
            <div id="GeneralContent_C079_Col00" class="sf_colsIn container">
                <div class="hgroup2">
                    <h4>Support by</h4>
                </div>
                <img width="75%" id="GeneralContent_C156_ctl00_ctl00_imageItem" title="Our Customers" src="//d585tldpucybw.cloudfront.net/sfimages/default-source/labs/devcraft/logos.png?sfvrsn=6" alt="">
            </div>
        </div>
    </div>
</section>