<h3 class="text-center">Lấy link download ablum nhạc từ mp3.zing, nhaccuatui</h3>	
<div class="container" ng-controller="GetLinkCtrl as getLink">
	<div class="row">
		<div class="col-md-12" style="padding-top: 20px">
			<div class="form-group-lg">
				<div class="input-group add-on">
					<input type="text" class="form-control" ng-model="urlAlbum" placeholder="Link album, playlist, bài hát nhaccuatui hoặc zing mp3 vào đây" id="url" name="url" autocomplete="off">
					<div class="input-group-btn">
						<button ng-click="getAlbum()" class="btn btn-success btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="col-md-12" style="padding-top: 5px">
			<p>Cách download: Click vào link bài hát hoặc nhấn phím Ctrl + A download all của IDM</p>
			<h4>Kết quả: {{lstSongs.length}}</h4>
			<div ng-repeat="song in lstSongs">
				{{$index+1}}. <a href="{{song.song}}" target="_blank" >{{song.song}}</a>
				<div>
				</div>
			</div>

		</div>
	</div>
</div>