<div class="row">
<div class="col-md-4" ng-repeat="topic in newsData" >
		<a href="{{topic.url}}" target="_blank">

		<div class="box box-solid">
			<div class="box-header with-border">
				<h3 class="box-title text-bold">{{topic.title}}</h3>
				<h5>{{topic.author}}</h5>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<img ng-src="{{topic.image}}"  class="img-responsive">
				</a>
				<p class="text-justify" style="font-size:larger">{{topic.content}} <a href="{{topic.url}}" target="_blank"><code>Xem chi tiết</code></a></p>

			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
	
</div>